body {
  width: 100%;
  height: 100vh;
  background: linear-gradient(
    to top,
    hsl(77deg 9% 85%) 85%,
    hsl(174deg 100% 29%) 15%
  );
}

.top-content {
  display: flex;
  height: calc(100vh - 100px);
}

.sidebar {
  width: 500px;
  height: 100%;
  background-color: hsl(0deg 0% 92%);
  flex-direction: row;
  border-right: 1px solid lightgrey;
}

.userMe,
img {
  border-radius: 50%;
  margin-left: 10px;
  margin-top: 10px;
}

h2 {
  display: inline;
  vertical-align: middle;
  font-size: 20px;
  line-height: 50px;
  padding-left: 10px;
}

.icons {
  color: grey;
  margin-right: 10px;
  margin-top: 25px;
  font-size: 22px;
  gap: 25px;
}

.notifiche-mess {
  background-color: hsl(199deg 95% 77%);
  height: 10vh;
  padding-left: 10px;
  padding-top: 20px;
}

.fa-bell-slash {
  background-color: white;
  padding: 15px 15px;
  border-radius: 50%;
  font-size: 22px;
  color: hsl(199deg 95% 77%);
}

.notifiche-mess a {
  color: grey;
  display: block;
}

.notifiche-mess span {
  font-weight: bold;
}

.content {
  width: calc(100% - 500px);
}

header {
  display: flex;
  width: 100%;
  height: 68px;
  background-color: hsl(0deg 0% 92%);
}

.accesso-info {
  font-size: 12px;
  color: gray;
  position: relative;
  top: 20px;
  right: 70px;
}

main {
  background-image: url(../img/mine.jpg);
  height: calc(100% - 70px - 70px);
}

footer {
  width: 100%;
  height: 70px;
  background-color: hsl(27deg 27% 94%);
}

.text-input {
  width: 670px;
  height: 50px;
  position: relative;
  top: 10px;
}

.fa-face-smile {
  font-size: 26px;
  margin-top: 20px;
  margin-left: 25px;
}

.fa-microphone {
  font-size: 26px;
  margin-top: 20px;
  margin-right: 25px;
}

.thumbs {
  flex-direction: column;
  flex-wrap: nowrap;
  height: 100%;
}

.thumb img {
  width: 65px;
  display: flex;
}
